<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

var STRING_CHAT_OPEN  = "Auki on!"
var STRING_CHAT_CLOSE = "-"
var REMOTE_HOST="http://localhost:5000/json/v1/";
var STRING_DATE_TODAY = "Tänään"

$( document ).ready(function() {
  var DATE_NOW = new Date();
  
  function give_icon_str( open, close )
  {
     
     
     if ( open < DATE_NOW && DATE_NOW < close )
     {
        return STRING_CHAT_OPEN;
     }
     else
     {
        return STRING_CHAT_CLOSE;
     }
  }
   

  function format_date( date )
  {  
     if ( DATE_NOW.getDate() == date.getDate() && DATE_NOW.getMonth() == date.getMonth() )
     {
        var date_str = STRING_DATE_TODAY;
     }
     // It would be have nice to have also tomorrow here, but due JS poor date handling i
     // am not going to try to hack it by myself ( month changes, year changes etc cause trouble 
     // -> its really a library job
     else
     {
        var date_str = date.getDate() + "." + date.getMonth();
     }
     
     function pad(n) { return ("0" + n).slice(-2); };   
     return  date_str + " "  + date.getHours() + ":" + pad(date.getMinutes());
  } 
   
   
  
  function show_entry(index, value)
  {
    var dt_open = new Date(value["open"]);
    var dt_close = new Date(value["close"]);

    var to_add = $("#chat_empty_row").html()
    to_add = to_add.replace("__OPEN__", format_date(dt_open ));
    to_add = to_add.replace("__CLOSE__", format_date(dt_close ));
    to_add = to_add.replace("__NAME__", value["name"]);
    to_add = to_add.replace("__ICON__", give_icon_str( dt_open, dt_close ));
    $("#chat_body").append( "<tr class='chat_info' > " + to_add + " </tr> " );
  }
  
  $.ajax({
    url: REMOTE_HOST,
    dataType: "json" } )
    .done( function (data) {
            $.each(data, show_entry )
           })
    .error( function() 
           { 
             $("#div_error").show(); 
           });
  });
</script>
</head>


<body>
<div style="display:none">
  <span id="icon_yes" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
  <span id="icon_no" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
</div>

<div id="div_error" style="display:none">
<p> There seems to be some problems with the service .. </p>
</div>


<table id="chat_table" style="border:1px; padding:1px">
  <thead>
    <tr> 
      <th> Nyt? </th>
      <th> Avautuu </th>
      <th> Sulkeutuu </th>
      <th> Kuvaus</th>
    </tr>
  </thead>
  <tbody id="chat_body">
   <tr style="display:none" id="chat_empty_row">
      <td class="row_icon"> __ICON__ </th>
      <td class="row_open"> __OPEN__ </th>
      <td class="row_close">__CLOSE__ </th>
      <td class="row_name"> __NAME__ </th>
   </tr>
  </tbody>
</table>

</body>

</html>
