<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body onload="drawList('ryhmät'); drawList('kahdenkeskeiset')">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <!-- Add your site or application content here -->
            <script>
                var järjestö = function(data) {
                    var my = {};

                    var nimi = data.nimi;
                    var linkki = data.linkki;
                    var kuvaus = data.kuvaus;
                    var opens = data.opens;
                    var closes = data.closes;

                    my.isOpen = function() {
                      if ( opens ) 
                      {
                        var now = new Date();
                        var opensDate = new Date();
                        opensDate.setHours(opens.split(":")[0]);
                        opensDate.setMinutes(opens.split(":")[1]);
                        var closesDate = new Date();
                        closesDate.setHours(closes.split(":")[0]);
                        closesDate.setMinutes(closes.split(":")[1]);
                        return (now > opensDate && now < closesDate);
                      }
                      return false
                    };
                    my.getNimi = function() {
                        return nimi;
                    }
                    my.getLinkki = function() {
                        return linkki;
                    }
                    my.getAukiolo = function() {
                       if ( opens ) 
                       {
                        return opens + " - " + closes;
                       }
                       else
                       {
                         return " suljettu "
                       }
                    }
                    my.getKuvaus = function() {
                        return kuvaus;
                    }
                    return my;
                };
                function httpGet(theUrl)
                {
                    var xmlHttp = null;

                    xmlHttp = new XMLHttpRequest();
                    xmlHttp.open( "GET", theUrl, false );
                    xmlHttp.send( null );
                    return xmlHttp.responseText;
                }
                var drawList = function(divname) {

                    var jList = []
                    eval("var data = " + httpGet("/json")) //HYHHYH
                    data[divname].forEach( function (e) {
                        jList.push(järjestö(e))
                    });

                    var div = $("#" + divname);
                    jList.sort(function(e) { return e.isOpen() ? -1 : 1})
                    jList.forEach(function (e) {
                        var open = e.isOpen() ? "jOpen" : "jClosed";
                        var add = $(
                            "<div class=järjestöContainer>" + 
                            "<span class='jAukiolo " + open + "'>" +
                            e.getAukiolo() +
                            "</span>" + 
                            "<a class=järjestöLinkki href=" +
                            e.getLinkki() + ">" + e.getNimi() +
                            "</a>" +
                            "</div>"
                            );
                        console.log(add);
                        var t = add.appendTo(div);
                        t.hover(function(ev) {
                            var tt = $("#tooltip");
                            tt.html(e.getKuvaus());
                            if (e.getKuvaus())
                                tt.css("visibility", "visible");

                        },
                        function(ev) {
                            $("#tooltip").css("visibility", "hidden");
                        });
                    });
$("body").mousemove(function(e) {
    var tt = $("#tooltip");
    tt.css("left", e.pageX + 10).css("top", e.pageY + 10);
});
}

</script>

<h1>Mistä Apua Nuorelle Nyt?</h1>
<div id=ryhmät>
<p class=otsikko>Juttele ryhmässä</p>
</div>
<div id=kahdenkeskeiset>
<p class=otsikko>Juttele kahdenkesken</p>
</div>
<div id=tooltip>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
