{% extends "base.html" %}
{% block content %}
<h1> Hey friend! </h1>
<h4> This is entry page for Somejam 2014 spinoff.  </h4>


<div class="panel panel-default">
  <div class="panel-heading">  Embed in site with native look </div>
  <div class="panel-body">
    <p> Show html + javascript example for embedding this to your native page. Style with your own taste. </p>
    <a class="btn btn-default" href="html/list/" > Example how it looks </a> (if you dont have any stylesheet)
    <a class="btn btn-default"> Get the sources </a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">  Show with IFRAME with our styling </div>
  <div class="panel-body">
   <a href="list/" > Just use this page as your frame </a>
  </div>
</div>


{% endblock %}

